.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RDS
*.Rproj
*.txt
*.csv
*.dcf
*.xlsx
NorWeST_ObservedTempPoints_Arizona.CPG
NorWeST_ObservedTempPoints_Arizona.dbf
NorWeST_ObservedTempPoints_Arizona.prj
NorWeST_ObservedTempPoints_Arizona.shp
NorWeST_ObservedTempPoints_Arizona.shp.xml
NorWeST_ObservedTempPoints_Arizona.shx
